@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

.main-page {
    margin: 0;
    padding: 9px;
    color: #ffffff;
}
.main-nav-bar {
    background: #6E7680;
    margin: 0;
    padding: 9px;
    color: #ffffff;
}
.main-content {
    height: 70vh;
    margin: 0;
    padding: 9px;
    color: #ffffff;
}
.main-footer {
    background: #6E7680;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 9px;
    color: #ffffff;
}
.main-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-height: 66vh;
    padding: 1rem;
}
.menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    list-style: none;
}
.main-nav-item {
    padding: 1rem;
    flex-shrink: 1;
}
.nav-link {
    text-decoration: none;
    font-family: questrial, sans-serif;
    color: black;
}
.nav-link:hover {
    color: white;
}
.menu-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    list-style: none;
}
.main-content-item {
    align-self: auto;
    padding: 1rem;
}
.main-logo {
    height: 6rem;
    text-align: center;
    flex-grow: auto;
    font-size: 75px;
    font-family: questrial, sans-serif;
    color: black;
    animation-name: logo-letter-anim;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;   
}
.main-logo:hover {
    color: #7C807C;
}
.main-search-bar {
    height: 2rem;
}
.logo-symbol-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 1rem;
    height: 10vh;
    align-content: center;
    align-items: flex-end;
}
.logo-symbol {
    width: 0;
    height: 0;
    border-left: 115px solid transparent;
    border-right: 115px solid transparent;
    border-bottom: 115px solid #7C807C;
    animation-name: logo-anim;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    
    align-self: center;
    flex-grow: 1;
    flex-shrink: 1;
}
@keyframes logo-anim {
    0%   {border-bottom: 115px solid red; left:0px; top:0px;}
    25%  {border-bottom: 115px solid yellow; left:200px; top:0px;}
    50%  {border-bottom: 115px solid blue; left:200px; top:200px;}
    75%  {border-bottom: 115px solid green; left:0px; top:200px;}
    100% {border-bottom: 115px solid red; left:0px; top:0px;}
}
@keyframes logo-letter-anim {
    0%   {color: red; left:0px; top:0px;}
    25%  {color: yellow; left:200px; top:0px;}
    50%  {color: blue; left:200px; top:200px;}
    75%  {color: green; left:0px; top:200px;}
    100% {color: red; left:0px; top:0px;}
}